
body{
    background-color:#3d1313;
}

header{
    background-color:#5a2e16;
}

.cabecalho-imagem{
    width:15%;
    margin:20px 16px 0;
}

.cabecalho{
    background-color:#90543c; 
    color:rgb(69, 10, 10);
    display:flex;
    justify-content:space-around;
}

.cabecalho-lista-item{
    display:inline-block;
    margin: 10px 10px 12px;
    padding:24px 0;
    font-size:40px; 
    align-items: center;
}

.escola-imagem{
    width: 30% ; 
    align-items: center;
    margin:0 30px 0;     
}

.direcao-imagem{
    width: 100%;
}


.escola{
    background-color: #3d1313; 
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;    
    padding: 24px 0;
}

.colheita{
    background-color: #3d1313;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 166%;
}



.escola-conteudo{
    width: 40%;
}

.escola-titulo{
    padding: 10px 0;
    font-size:40px;
}

.rodape{
    background-color: #f7f7f7;
    color: white;
    display: flex; 
    justify-content: space-around;
}


.rodape-lista-item{
    display: inline-block;
    margin: 16px 560px;
    padding: 10px 0;
    font-size: 15px;
    color: white;
}

.sala{
    background-color: #ffffff; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}


.sala-conteudo{
    width: 45%;
}

.sala-titulo{
    padding: 24px 0;
    margin: 24px;
    font-size:40px;
}

.sala-imagem{
    width: 25%;
}

.sala-texto-um{
    margin: 24px;
    font-size: 30px;
}

.escola-texto-um{
    font-size: 20px;
    padding: 20px 0;
    margin:0 50px 0;
    color: white;
}

.sala-texto-um{
    font-size: 20px;
    padding: 10px 0;
    margin:0 50px 0;
    color: white;
}

.class-rodape{
    font-size: 24px;
    margin: 20px;
    width: 50%;
}

.escola-texto-dois{
    font-size: 20px;
    padding: 0px 0;
    margin:0 50px 0;
    color: white;
}

.escola-texto-tres{
    font-size: 20px;
    padding: 0px 0;
    margin:0 50px 0;
    color: white;
}